<div class="row" id="page-title">
    <div class="col s12">
        <h2 id="form-title">{{pageTitle}}</h2>
    </div>
</div>

<div class="row">

    <form  id="form-password" class="col s12" method="POST" action="/new-password" autocomplete="off">
        <input id="_id" type="hidden" name="_id" value="{{userInfo._id}}" />
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" name="password" autocomplete="new-password" required/>
                <label for="password">New Password</label>
            </div>
        </div>

        <button type="submit" class="waves-effect waves-light btn-large right">Ok</button>
    </form>

    <div  id="message" class="col s12"></div>

</div>

<script type="text/javascript">
    
    $(function(){

        $('#form-password').submit(function(e){
            e.preventDefault();
            var url = $(this).attr('action');
            var urlCurrent = document.URL;
            var data = {};
            data._id = urlCurrent.substr(urlCurrent.lastIndexOf('/') + 1);
            data.password = $('#password').val();

            $.post(url, data,
            function(data, status){
                var alert = (data.success) ? 'alert-success' : 'alert-danger';
                $('#message').html('<div class="alert '+alert+' m-t-15">'+data.message+'</div>');
            });
        });

    });
</script>