<aside id="sidebar">
                
    <!-- Sidbar Widgets -->
    <div class="side-widgets overflow">
        <!-- Profile Menu -->
        <div class="text-center s-widget m-b-25 dropdown" id="profile-menu" ng-show="isAuth">
            <a href="" data-toggle="dropdown">
                <img class="profile-pic animated" src="public/template/img/profile-pic.png" alt="">
            </a>
            <ul class="dropdown-menu profile-menu">
                <li><a href="#" logout>Sign Out</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            </ul>
            <h4 class="m-0">{{user.username}}</h4>
        </div>
        
        <!-- Calendar -->
        <div class="s-widget m-b-25">
            <div id="sidebar-calendar"></div>
        </div>

    </div>
    
    <!-- Side Menu -->
    <ul class="list-unstyled side-menu">
        <li class="dropdown active">
            <a class="sa-side-page" href="/creative">
                <span class="menu-item">All Adverting Units</span>
            </a>
            <ul class="list-unstyled menu-item">
                <li><a href="/creative/summary">Summary Report</a></li>
                <li><a href="/inventory/fptplay">Inventory FptPlay</a></li>
                <li><a href="/inventory/paytv">Inventory PayTV</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="sa-side-chart" href="/fault">
                <span class="menu-item">Ad Metric Analytics</span>
            </a>
            <ul class="list-unstyled menu-item">
                <li><a href="/fault">Audience Analytics</a></li>
                <li><a href="/fault">Device Analytics</a></li>
                <li><a href="/monitor/content">Content Analytics</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="sa-side-form" href="/fault">
                <span class="menu-item">New Advertising Unit</span>
            </a>
        </li>
    </ul>

</aside>