<div class="block-area" ng-controller="inventoryPayTvCtrl">

	<div class="row">
		<div class="col-md-12">
			<h3 class="block-title">Change date</h3>
		</div>
		<form class="form-inline">
			<div class="form-group col-md-4 col-sm-6 col-xs-12 m-b-15">
				<date-pick id="date-begin" ng-model="begin" ng-date-max="#date-end"></date-pick>
			</div>
			<div class="form-group col-md-4 col-sm-6 col-xs-12 m-b-15">
				<date-pick id="date-end" ng-model="end" ng-date-min="#date-begin"></date-pick>
			</div>
			<div class="form-group col-md-4 col-sm-6 col-xs-12 m-b-15">
				<button type="button" class="btn btn-sm" ng-click="submit()"> OK </button>
			</div>
		</form>
	</div>

	<div class="row" id="paytvTotalView">

		<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="it in totalData">
			<div class="tile quick-stats">
				<div class="data">
					<h2>{{it.totalView.toLocaleString()}}</h2>
					<small>{{it.TypeName}}</small>
				</div>
			</div>
		</div>

	</div>

	<div class="row" id="paytvChart">

		<div class="col-md-6 col-xs-12" ng-repeat="it in items">
			<pie-chart ng-title="{{it.TypeName}}" ng-model="it.chartData"></pie-chart>
		</div>

	</div>

</div>