**/build/*
**/bin/*
**/tmp/*
**/deploy/*
**/node_modules/*

**/.settings/
**/geoip-data/
**/node_modules/
**/.idea/
**/nlp_model/
**/lda_model/
**/target/
**/.gradle/


adsplay-admin/public/ads/
adsplay-admin/public/ads/*

adsplay-report/public/export/
adsplay-report/public/export/*

**.zip
**.mp4
**~
**.class
**.classpath
**.log
**.iml
**/gradlew
**/gradlew.bat

