**/build/*
**/bin/*
**/tmp/*
**/deploy/*
**/.settings/
**/geoip-data/
**/node_modules/
**/.idea/
**/nlp_model/
**/lda_model/
**/target/
**/.gradle/
adsplay-report/public/ads/
adsplay-report/public/ads/*

**.zip
**~
**.class
**.classpath
**.log
**.iml
**/gradlew
**/gradlew.bat

docs/domain.txt
adsplay-processor/data/
adsplay-report/public/data/
adsplay-track/contiperf-report/
