<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="creative/list/all">All Advertising Units</a></li>
            <li class="active">New Advertising Unit</li>
        </ol>
        <h1 class="page-header">
            <span>Create an advertising unit</span>
        </h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-4 text-center">
        <div class="panel">
            <div class="panel-body">
                <div class="htmlFrame"></div>
                <form id="uploadhtml" action="/creative/upload/unzip" method="post" enctype="multipart/form-data">
                    <label>Select Zip Display Banner</label><br/>
                    <input type="file" name="file" id="file" required /><br/>
                    <input type="submit" value="Upload" class="btn btn-default" /><br/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 text-center">
        {{>new-creative-partial}}
    </div>
</div>

<script>
    $('input.ads_cancel').click(function () {
        window.location.href = "/creative/new/local-ad-unit";
    });

    $("#uploadhtml").submit(function(e) {
        e.preventDefault();
        if (!$('#file')[0].files[0].name.match(/\.(zip)$/)){
            return alert('Incorrect file .zip');
        }
        $.ajax({
            url: $(this).attr('action'),
            type: "POST",
            data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
            contentType: false,       // The content type used when sending data to the server.
            cache: false,             // To unable request pages to be cached
            processData:false,        // To send DOMDocument or non processed data file it is set to false
            beforeSend: function(){
                $('.htmlFrame').html('<span>loading ... ... </span>');
            },
            success: function(res){
                $('.htmlFrame').html('<iframe src="'+res.url+'" width="100%" height="300" frameBorder="0"></iframe>');
            }
        });
    });
</script>