<style>
    span[datatype=real-time] {
        font-weight: bold;
        font-size: 18px;;
    }

    img.thumbnail {
        display: none;
    }

    div.ads_format {
        width: 100%;
        height: 40px;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="creative/list/all">All Advertising Units</a></li>
            <li class="active">New Advertising Unit</li>
        </ol>
        <h1 class="page-header">
            <span>Create an advertising unit</span>
        </h1>
    </div>
</div>

<div id="fm_chooser" class="row">
    <div class="col-lg-8 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Choose an advertising format</strong>
            </div>
            <div class="panel-body text-left">
                <div class="radio ads_format" id="ad_format">
                    <label><input type="radio" name="ads_format" value="/creative/new/local-ad-unit/video">TVC Video FptPlay
                        <img class="thumbnail" src="http://itvad.net//assets/images/Advertise/ad_stream.jpg">
                    </label>
                </div>

                <div class="radio ads_format" id="ad_format">
                    <label><input type="radio" name="ads_format" value="/creative/new/local-ad-unit/video-paytv">TVC Video PayTV
                        <img class="thumbnail" src="http://itvad.net//assets/images/Advertise/ad_stream.jpg">
                    </label>
                </div>

                <div class="radio ads_format">
                    <label><input type="radio" name="ads_format" value="/creative/new/local-ad-unit/overlay">Overlay Banner
                        <img class="thumbnail" src="http://itvad.net//assets/images/Advertise/expanded_logo.jpg">
                    </label>
                </div>

                <div class="radio ads_format" style="display: none">
                    <label><input type="radio" name="ads_format" value="/creative/new/local-ad-unit/display">Display Banner
                        <img class="thumbnail" src="http://www.bannersnack.com/images/home/opt/icon_02.png">
                    </label>
                </div>

                <div class="radio ads_format" style="display: none">
                    <label><input type="radio" name="ads_format" value="/creative/new/local-ad-unit/news">Breaking News
                        <img class="thumbnail" src="http://itvad.net//assets/images/Advertise/breaking_news.jpg">
                    </label>
                </div>
                <div>
                    <input type="button" class="form-control" id="ads_format_ok" value="OK">
                </div>
            </div>
        </div>

    </div>
</div>

<div id="alert-ok" class="alert alert-success" style="display: none">
    <strong id="alert-ok-msg">Success! Redirecting to All Ad Unit ...</strong>
    <div style="text-align: center">
        <img src="http://www.certiw.com/wp-content/themes/certiw/assets/images/ajax-load.gif">
    </div>
</div>


<script>
    $('#ads_format_ok').click(function () {
        window.location.href = $('input[name=ads_format]:checked').val()
    });

</script>