<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="creative/list/all">All Advertising Units</a></li>
            <li class="active">New Advertising Unit</li>
        </ol>
        <h1 class="page-header">
            <span>Create an advertising unit</span>
        </h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-4 text-center">
        <div class="panel">
            <div class="panel-body">
                <div id="iframeHtml"></div>
                <form id="uploadhtml" action="/creative/upload/unzip" method="post" enctype="multipart/form-data">
                    <label>Select File Banner</label><br/>
                    <input type="file" name="file" id="file" required /><br/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 text-center">
        {{>new-creative-partial}}
    </div>
</div>