<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="creative/list/all">All Advertising Units</a></li>
            <li class="active">Ad Unit Information Editor</li>
        </ol>
        <h1 class="page-header">
            <span>Breaking News Ad Unit</span>
        </h1>
    </div>
</div>

<style type="text/css">
    div.breaking-news{
        background-color: #000000;
        color: #2CF509;
        position: absolute;
        width: 100%;
        z-index: 100;
        margin-top: 10px;
        font-weight: bold;
        height: 40px;
    }

</style>

<div class="row">
    <div class="col-lg-4 text-center">
        <div class="panel">
            <div class="panel-body">
                <div class="video-container-breakingnews" >
                    <div class="breaking-news"><marquee id="news-marquee"></marquee></div>
                    <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" autoplay muted controls
                           loop preload="auto"
                           poster="//adsplay.net/img/logo.png"
                           data-setup=''
                           width='100%'
                           height='300'>
                            >
                        <source src="https://ads-cdn.fptplay.net/static/videos/demo-sport-2.mp4" type='video/mp4' />
                    </video>
                </div>
                <hr>
                <textarea id="BreakingNews_Text" class="form-control"
                          placeholder="Enter the ad message here"></textarea><br/>
            </div>
        </div>
    </div>
    <div class="col-lg-8 text-center">
        {{>new-creative-partial}}
    </div>
</div>
<script>
    $(document).ready(function() {
        videojs('#my-video').play();

        setTimeout(playText, 1000000);

        function playText(){
            document.getElementById('mymarquee').start();
        }

        $('#BreakingNews_Text').keyup(function(){
            $('.break-news').show();
            var text = $('#BreakingNews_Text').val();
            $('#news-marquee').html(text);

        });

    });
</script>