<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="/campaign/">Ad campaign Management</a></li>
            <li class="active">Ad campaign Report</li>
        </ol>
        <h3 class="page-header">
            {{dashboard_title}}
        </h3>
    </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
      	<div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <tbody>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><span id="campaign_name">{{campaign.name}}</span></td>
                </tr>
                <tr>
                    <td><strong>Ads id</strong></td>
                    <td><span id="campaign_ads">{{campaign.ads}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>