<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{dashboard_title}}
        </h1>
    </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Create flight
      </div>
      <div class="panel-body">
        <form action="/event/create" method="post">
          <div class="form-group">
            <label>Select Ads</label>
            <select type="select" class="select-multi" id="ads_select" name="id" data-placeholder="please select a Ads">
                {{#each ads}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
          </div>

          <div id="schedules">

            <a href="#" class="btn-plus" id="schedules-plus"><span class="schedules-label">Schedule</span><i class="fa fa-plus-square" aria-hidden="true"></i></a>
          

          <div class="form-group-wrap">
              <div class="form-group">
                <label>Begin date</label>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class='input-group date' id='begin_date'>
                      <input type='text' class="form-control" name="begin_date" placeholder="Enter date"/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class='input-group date' id='begin_time'>
                      <input type='text' class="form-control" name="begin_time" placeholder="Enter time"/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>End date</label>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class='input-group date' id='end_date'>
                      <input type='text' class="form-control" name="end_date" placeholder="Enter date" />
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class='input-group date' id='end_time'>
                      <input type='text' class="form-control" name="end_time" placeholder="Enter time" />
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Booking</label>
                <input type='number' class="form-control" name="booking" placeholder="Enter booking">
              </div>

            </div>

          </div>

          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="js/business-domains/flight-handle.js"></script>