<link href="stylesheets/mobile-masthead.css" media="all" rel="stylesheet" />

<center>
	<!-- Save for Web Slices (Untitled-3) -->
	<table id="Table_01" width="360" height="640" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="3">
				<img src="mobile-masthead-images/template_01.png" width="360" height="104" alt=""></td>
		</tr>
		<tr>
			<td rowspan="2">
				<img src="mobile-masthead-images/template_02.png" width="8" height="536" alt=""></td>
			<td>

				<ol class="_mfb _mog" style="padding:10px">
					<li class="_mib" data-index="0">
						<div class="_mpg"> <img class="_mqg" src="http://engineering.adsplay.net/wp-content/uploads/2015/08/cropped-logo.png"
							 style="width:28px;height:28px"> <span class="_mrg">AdsPlay</span><span class="_msg"><a href="https://adsplay.net" onclick="return koya.onEvent(arguments[0]||window.event,'1460_0')">Buy Now</a></span></div>
						<hr>
						<ul class="_mtg">
							<li class="_mib">
								<div class="_mvf _mwf">
									<a href="https://www.youtube.com/watch?v=QScwHQh1vDA" onclick="return koya.onEvent(arguments[0]||window.event,'1460_1',{&quot;description&quot;:&quot;Now On Your TV&quot;,&quot;duration&quot;:&quot;1:12&quot;,&quot;sb&quot;:&quot;J2V0ITFzon4&quot;,&quot;ce&quot;:{&quot;url&quot;:&quot;https://i.ytimg.com/vi/J2V0ITFzon4/hqdefault.jpg?w=120&amp;h=72&amp;sigh=h0QV_Kuj61hwnOC46v-DaM8w2eA&quot;},&quot;title&quot;:&quot;Everything You Love&quot;,&quot;Ih&quot;:&quot;/watch?v=J2V0ITFzon4&quot;})">
										<div class="_myf">
											<div class="_mzf">
												<div class="_mag">
													<div class="_myv"><img class="_mvv" src="https://i.ytimg.com/vi/J2V0ITFzon4/hqdefault.jpg?w=120&amp;h=72&amp;sigh=h0QV_Kuj61hwnOC46v-DaM8w2eA"
														 style="margin: -undefinedpx -undefinedpx;" alt=""><i class="_mzv"></i></div>
												</div>
												<div class="_mcg">1:12 </div>
											</div>
											<div class="_mdg">
												<div class="_meg">
													<h4 class="_mfg">Everything You Love</h4>
													<div class="_mcw"><span class="_mdw"><span class="_mnt">AD</span>Now On Your Mobile TV</span>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</li>
						</ul>
					</li>
				</ol>

			</td>
			<td rowspan="2">
				<img src="mobile-masthead-images/template_04.png" width="8" height="536" alt=""></td>
		</tr>
		<tr>
			<td>
				<img src="mobile-masthead-images/template_05.png" width="344" height="398" alt=""></td>
		</tr>
	</table>
	<!-- End Save for Web Slices -->
	<br>
	<a href="https://docs.google.com/document/d/1paB2VPmbD3LVDeZHglcBQn_fc4Jkc7ehHLokgnXt_E0/edit?usp=sharing" class="qtm-button raised-button paper-shadow-bottom-z-1"
	 target="_blank">MOBILE VIDEO MASTHEAD<span class="qtm-button-ripple" style="height: 112px; width: 112px;"></span></a>
	<p class="j-web-info">Want to know more? Click above to get the full format requirements, details and specifications!</p>
</center>