<div class="right-content-heading">
    <div class="right-content-heading-left">
        <h3>Có thể bạn thích</h3>
    </div>
    <div class="right-content-heading-right">
        <div class="social-icons">
            <ul>
                <li><a class="facebook" href="#" target="_blank"> </a></li>
                <li><a class="twitter" href="#" target="_blank"></a></li>
                <li><a class="googleplus" href="#" target="_blank"></a></li>
                <li><a class="vimeo" href="#" target="_blank"></a></li>
            </ul>
        </div>
    </div>
    <div class="clear"> </div>
</div>

<div class="content-grids">

    <div class="content-grid">
        <a href="/play-content/1/HCiYTBxApwM"><img src="http://img.youtube.com/vi/HCiYTBxApwM/mqdefault.jpg" title="allbum-name" /></a>
        <h3>One Day 2011 - Vietsub.</h3>
        <ul>
            <li><a href="#"><img src="images/likes.png" title="image-name" /></a></li>
            <li><a href="#"><img src="images/views.png" title="image-name" /></a></li>
            <li><a href="#"><img src="images/link.png" title="image-name" /></a></li>
        </ul>
        <a class="button" href="/play-content/1/HCiYTBxApwM">Watch now</a>
    </div>

    <div class="clear"> </div>

    <!---start-pagenation----->
    <div class="pagenation">
        <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
    <div class="clear"> </div>
    <!---End-pagenation----->

</div>

