<div class="copy-right">
    <p>Developed by <a href="http://trieu.xyz/" target="_blank" style="font-weight: bolder" >Trieu.xyz</a></p>
    <p>Powered by <a href="http://rfxlab.com/" target="_blank" style="font-weight: bolder" >RFX</a></p>
</div>