<div class="panel panel-danger" style="margin-top: 30px">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3>{{dashboard_title}}</h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" role="alert" style="font-size: 22px;">
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true" style="vertical-align: text-top;"></span>
            Sorry, this page is not available
        </div>
    </div>
</div>