<div class="panel panel-danger" style="margin-top: 30px">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<h4>User Privileges</h4>
  </div>
  <div class="panel-body">
    <p>
    	You do not have permission to access
    </p>
    <p>
    	<a href="/login">Go to login page</a>
    </p>
</div>