<base href="/">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>AdsPlay - {{{dashboard_title}}}</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/sb-admin.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.min.js"></script>

<script src="js/handlebars.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- NVD3 chart library -->
<script src="js/d3.min.js" charset="utf-8"></script>
<script src="js/d3.v3.js" charset="utf-8"></script>
<link href="css/nv.d3.css" rel="stylesheet">
<script src="js/nv.d3.js"></script>

<!-- morris.js chart library -->
<link rel="stylesheet" href="css//morris.css">
<script src="js/raphael-min.js"></script>
<script src="js/morris.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/transition.js"></script>
<script src="js/collapse.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Util JavaScript -->
<script src="js/business-domains/report-utils.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/bootstrap_datetimepicker.min.js"></script>

<link href="css/video-js.min.css" rel="stylesheet">
<script src="js/video.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="css/leaflet.css" />
<script src="js/leaflet.js"></script>
<script src="js/heatmap.js"></script>
<script src="js/leaflet_heatmap.js"></script>

<link rel="stylesheet" type="text/css" href="css/multiple-select.css">
<script src="js/multiple-select.js"></script>

<link rel="stylesheet" type="text/css" href="css/chosen.min.css">
<script src="js/chosen.jquery.min.js"></script>

<script src="js/validatr.min.js"></script>
<script src="js/validator.js"></script>
