<div class="panel panel-danger" style="margin-top: 30px">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4>Warning</h4>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
            <span class="label label-danger">You do not have permission to access this information</span>
        </div>
        <div class="label label-info"><a href="/login">Login with another account here</a></div>
    </div>
</div>