<div class="block-area" ng-controller="creativeSummaryCtrl">
	<div class="row">

		<div class="col-md-3 col-xs-6">
			<div class="tile quick-stats">
				<div id="stats-line-2" class="pull-left"><canvas width="254" height="65" style="display: inline-block; width: 254px; height: 65px; vertical-align: top;"></canvas></div>
				<div class="data">
					<h2 data-value="98">98</h2>
					<small>Tickets Today</small>
				</div>
			</div>
		</div>

	</div>

	<historical-bar-chart ng-title="Historical Bar Chart"></historical-bar-chart>
</div>