<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Công cụ cập nhập số thống kê Tiger Remix 2016
        </h1>
    </div>
</div>

<div id="alert-ok" class="alert alert-success" style="display: none">
    <strong id="alert-ok-msg">Success!</strong>
</div>

<br><br>

<div class='col-lg-12'>
    <div class='col-lg-5'>
        <div class="checkbox">
            <label style="font-weight: bold"><input id="pv-update" type="checkbox"> Thêm 1000 views vào tổng PageView </label>
        </div>
    </div>
    <div class='col-lg-5'>
        <input type="button" class="form-control" value=" Update Total PageView " onclick="bonusNumberForTotalPageView()">
    </div>
</div>

<br><br><br><br>

<div class='col-lg-12'>
    <div class='col-lg-5'>
        <div class="checkbox">
            <label style="font-weight: bold"><input id="imp-update" type="checkbox"> Thêm 1000 views vào tổng Impression </label>
        </div>
    </div>
    <div class='col-lg-5'>
        <input type="button" class="form-control" value=" Update Total Impression " onclick="bonusNumberForTotalImpression()">
    </div>
</div>

<br><br><br><br><br><br>

<div class='col-lg-12'>
    <div class='col-lg-5'>
        <div class="checkbox">
            <label style="font-weight: bold"><input id="ur-update" type="checkbox"> Thêm 1000 users vào tổng User </label>
        </div>
    </div>
    <div class='col-lg-5'>
        <input type="button" class="form-control" value=" Update Total User Reach " onclick="bonusNumberForTotalUser()">
    </div>
</div>

<br><br><br><br><br><br>


<script>
    var deltaNum = 1000;

    function bonusNumberForTotalPageView(){
        if( $('#pv-update').is(':checked') ){
            jQuery.get('/monitor/event-manager/pv/'+deltaNum,{}, function(rs){
                console.log(rs);
                if(rs.ok == 1){
                    $('#alert-ok-msg').html('Cập nhập PageView thành công !');
                    $('#alert-ok').show();
                    setTimeout(function(){
                        $('#alert-ok').hide();
                    }, 3000);
                }
            });
        }
    }

    function bonusNumberForTotalImpression(){
        if( $('#imp-update').is(':checked') ){
            jQuery.get('/monitor/event-manager/imp/'+deltaNum,{}, function(rs){
                console.log(rs);
                if(rs.ok == 1){
                    $('#alert-ok-msg').html('Cập nhập Impression thành công !');
                    $('#alert-ok').show();
                    setTimeout(function(){
                        $('#alert-ok').hide();
                    }, 3000);
                }
            });
        }
    }

    function bonusNumberForTotalUser(){
        if( $('#ur-update').is(':checked') ){
            jQuery.get('/monitor/event-manager/ur/'+deltaNum,{}, function(rs){
                console.log(rs);
                if(rs.ok == 1){
                    $('#alert-ok-msg').html('Cập nhập User Reach thành công !');
                    $('#alert-ok').show();
                    setTimeout(function(){
                        $('#alert-ok').hide();
                    }, 3000);
                }
            });
        }
    }


</script>