<div class="block-area" ng-controller="creativeSummaryCtrl">

	<div class="row">
		<div class="col-md-12">
			<h3 class="block-title">Change date</h3>
		</div>
		<form class="form-inline">
			<div class="form-group col-md-4 col-sm-6 col-xs-12 m-b-15">
				<date-pick id="date-begin" ng-model="begin" ng-date-max="#date-end"></date-pick>
			</div>
			<div class="form-group col-md-4 col-sm-6 col-xs-12 m-b-15">
				<date-pick id="date-end" ng-model="end" ng-date-min="#date-begin"></date-pick>
			</div>
			<div class="form-group col-md-4 col-sm-6 col-xs-12 m-b-15">
				<button type="button" class="btn btn-sm" ng-click="submit()"> OK </button>
			</div>
		</form>
	</div>

	<div class="row">

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="tile quick-stats">
				<div class="data">
					<h2>{{sumTotalPv.toLocaleString()}}</h2>
					<small>Total Playview</small>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="tile quick-stats">
				<div class="data">
					<h2>{{sumTotalImp.toLocaleString()}}</h2>
					<small>Total Impression</small>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="tile quick-stats">
				<div class="data">
					<h2>{{sumTotalTrv.toLocaleString()}}</h2>
					<small>Total Completed-View</small>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="tile quick-stats">
				<div class="data">
					<h2>{{sumTotalClick.toLocaleString()}}</h2>
					<small>Total Click</small>
				</div>
			</div>
		</div>

	</div>

	<historical-bar-chart ng-title="Daily Play View" ng-model="chartPv"></historical-bar-chart>

	<historical-bar-chart ng-title="Daily impression" ng-model="chartImp"></historical-bar-chart>

	<historical-bar-chart ng-title="Daily completed-view" ng-model="chartTrv"></historical-bar-chart>

	<historical-bar-chart ng-title="Daily click" ng-model="chartClick"></historical-bar-chart>

</div>