<header id="header">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 id="brand">
                    <a href="/">
                        <span id="logo"><img src="img/logo.png" /></span>
                        <span>AdsPlay ID</span>
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>