<div class="row">

    <div class="col s12 center" style="margin-top: 1em;">
        <img src="img/logo.png" width="100">
    </div>

    <div class="col s12 center">
        <h1 id="form-title">Register Form</h1>
    </div>

    <form  id="form-register" class="col s12" method="POST" action="/register" autocomplete="off">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" name="username" class="validate" autocomplete="off" required>
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" name="email" class="validate" autocomplete="off" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" name="password" class="validate" autocomplete="off" required>
                <label for="password">Password</label>
            </div>
        </div>

        <div class="input-field col s12">
            <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="0">disabled</option>
                <option value="1">enabled</option>
            </select>
            <label>Status User</label>
        </div>

        <button type="submit" class="waves-effect waves-light btn-large right">Ok</button>
    </form>

    <div  id="message" class="col s12"></div>

</div>

<script type="text/javascript">
    //disable autocomplete
    $( document ).ready(function() {
        $('input[autocomplete=off]').each(function(){
            var copy = $(this).clone();
            copy.val('');
            copy.removeAttr('autocomplete');
            copy.insertAfter($(this));
            $(this).hide().removeAttr('required id class');
        });
    });
    $(function(){
        $('#form-register').submit(function(e){
            e.preventDefault();
            var data = $(this).serialize();
            $.post('/register',
            data,
            function(data, status){
                if(data.success){
                    var url = window.location.href;
                    var url_param =  url.split('?').slice(1).join('?');
                    window.location.href = (window.location.protocol + '//' + window.location.hostname + (location.port ? ':'+location.port: '') + '/login?' + url_param);
                }
                else{
                    $('#message').html('<div class="alert alert-danger m-t-15">'+data.message+'</div>');
                }
            });
        });

    });
</script>