<style>
<!--
	#attribution_description {
	    text-align: center;
	    font-size: 18px;
	    width: 100%;
	    font-weight: bold;
	}
	.user_profile_attrs {
	    background-color: #463CC4;
	    width: 50px;
	    height: 20px;
	    display: inline;
	}
	.persona_profile_attrs {
	    background-color: #E91E0D;
	    width: 50px;
	    height: 20px;
	    display: inline;
	}
	#attribution_description {
	    text-align: center;
	    font-size: 18px;
	    width: 80%;
	    margin:auto;
	    font-weight: bold;
	}
	#profile_key_info .fa {
		font-size: 1.2em !important;
	}
-->
</style>


<div>
     <div class="col-md-9" >
 		<h4 class="page-header" id="page_breadcrumb" > </h4>
 	 </div> 
     <div class="col-lg-3 text-center" style="padding: 10px">
     	<button type="button" class="btn btn-success" onclick="editCurrentProfile()" > Edit </button>
      	<button type="button" class="btn btn-danger" onclick="removeCurrentProfile()" > Remove </button>
     </div>
</div>

<div class="container-fluid" id="page_data_holder" >

       <!-- MAIN BODY here -->

       <div id="profile_key_info" class="row">
       	   <!--  Begin Profile Key Information -->
           <div class="col-md-5">
  
           	   <ul class="nav nav-tabs" data-tab-content="profile_summary_tabs" >
		       	  <li class="active" > <a href="javascript:" data-target-tab="panel_profile_summary" > <i class="fa  fa-user-circle-o" aria-hidden="true"></i> Profile Summary </a> </li>
		       	  <li> <a href="javascript:" data-target-tab="panel_last_session_details" > <i class="fa fa-info-circle" aria-hidden="true"></i> Last Session Details</a> </li>
			   </ul>
			   <div class="tab-content" id="profile_summary_tabs" >

			    	<!-- tab 1  -->
			    	<div class="tab-pane active" id="panel_profile_summary" >
			     		<table border=0 class="underlined" style="width: 100%;">
		                   <tr>
		                       <td>
		                           <ol id="visitor_attributes" data-field="visitor_attributes">
		                               <li>
		                                   <b> <i class="fa fa-id-badge" aria-hidden="true"></i> Profile UUID </b> 
		                                   <p data-field="id" data-fieldholder="html"  data-fieldtype="string"  > </p>
		                               </li>
		                               <li>
		                                   <b> <i class="fa fa-id-card-o" aria-hidden="true"></i> Profile Type </b> 
		                                   <p data-field="typeAsText" data-fieldholder="html"  data-fieldtype="string"  > CRM_CONTACT </p>
		                               </li>
		                               <li>
		                                   <b> <i class="fa fa-clock-o" aria-hidden="true"></i> Creation Date </b> 
		                                   <p data-field="createdAt" data-fieldholder="html"  data-fieldtype="date"  > 2020-06-11 09:35:37  </p>
		                               </li>
		                               <li>
		                                   <b> <i class="fa fa-clock-o" aria-hidden="true"></i> Modification Date </b> 
		                                   <p data-field="updatedAt" data-fieldholder="html"  data-fieldtype="date"  > 2020-06-11 09:35:37  </p>
		                               </li>
		                               
		                               <li>
		                                   <b> <i class="fa fa-star" aria-hidden="true"></i> Total Data Quality Score </b> 
		                                   <p data-field="totalDataQualityScore" data-fieldholder="html"  data-fieldtype="int"  > 0 </p>
		                               </li>
		                               
		                               <li>
		                                   <b> <i class="fa fa-star" aria-hidden="true"></i> Total Lead Score </b> 
		                                   <p data-field="totalLeadScore" data-fieldholder="html"  data-fieldtype="int"  > 0 </p>
		                               </li>
		                               
		                               <li>
		                                   <b> <i class="fa fa-usd" aria-hidden="true"></i> Customer Acquisition Cost (CAC) in {{currency_code}} </b> 
		                                   <p data-field="totalCAC" data-fieldholder="html"  data-fieldtype="int"  > 0 </p>
		                               </li>
		                               
		                               <li>
		                                   <b> <i class="fa fa-usd" aria-hidden="true"></i> Customer Lifetime Value (CLV) in {{currency_code}} </b> 
		                                   <p data-field="totalCLV" data-fieldholder="html"  data-fieldtype="int"  > 0 </p>
		                               </li>
		                               
		                               <li>
		                                   <b> <i class="fa fa-star" aria-hidden="true"></i> Customer Satisfaction Score (CSC) </b> 
		                                   <p data-field="totalCSAT" data-fieldholder="html"  data-fieldtype="int"  > 0 </p>
		                               </li>
		                               
		                               <li style="display: none;" >
		                                   <b> <i class="fa fa-star" aria-hidden="true"></i> Total Credit Score </b> 
		                                   <p data-field="totalCreditScore" data-fieldholder="html"  data-fieldtype="int"  > 0 </p>
		                               </li>
		                               
		                           </ol>
		                       </td>
		                   </tr>
		               </table>
					</div>
					
					<!-- tab 2  -->
       				<div class="tab-pane " id="panel_last_session_details" >
			     		 <table border=0 class="underlined" style="width: 100%;">
		                   <tr>
		                       <td>
		                           <ol id="visitor_attributes" data-field="visitor_attributes">
		                           	   <li>
		                                   <b> Created at </b> 
		                                   <p data-field="lastTouchpoint.createdAt" data-fieldholder="html"  data-fieldtype="string"  >   </p>
		                               </li>
		                               <li>
		                                   <b> Last Seen Location </b> 
		                                   <p> TP.HCM, Việt Nam  </p>
		                               </li>
		                               <li>
		                                   <b> Last Seen Touchpoint </b> 
		                                   <p data-field="lastTouchpoint.name" data-fieldholder="html" data-fieldtype="string"  >   </p>
		                               </li>
		                               <li>
		                                   <b> Touchpoint URL</b> 
		                                   <p data-field="lastTouchpoint.url" data-fieldholder="url" data-fieldtype="string"  >   </p>
		                               </li>
		                               <li>
		                                   <b> Browser </b> 
		                                   <p> Safari  </p>
		                               </li>
		                               <li>
		                                   <b> Device Type</b>
		                                   <p> iPhone 7  </p>
		                               </li>
		                               <li>
		                                   <b> Device OS </b> 
		                                   <p> iOS 11  </p>
		                               </li>
		                                <li>
		                                   <b> Device ID </b> 
		                                   <p> - </p>
		                               </li>
		                           </ol>
		                       </td>
		                   </tr>
		               </table>
					</div>
					
           		</div>
           </div>
           
           <div class="col-md-7">
               
               <div class="row">
	               <div class="text-center" >
	                   <img id="profile_avatar" src="/public/images/avatars/profile-default-avatar.png" alt="Profile Avatar" class="rounded mx-auto d-block avatar">
	               </div>
               </div>
               <hr>
               <h4> Personal Information </h4>
               <table border=0 class="underlined" style="width: 100%;">
                   <tr>
                       <td>
                           <ol id="personal_attributes" data-field="personal_attributes">
                           	   <li>
                                   <b data-persona="key" class="editable_text" > <i class="fa fa-fw fa-id-badge"></i> First Name </b> 
                                   <p data-field="firstName" data-fieldholder="html"  data-fieldtype="string"  class="editable_text" >  - </p>
                               </li>
                               <li>
                                   <b data-persona="key" class="editable_text" > <i class="fa fa-fw fa-id-badge"></i> Last Name </b> 
                                   <p data-field="lastName" data-fieldholder="html"  data-fieldtype="string"  >  - </p>
                               </li>
                               <li>
                                   <b data-persona="key" class="editable_text" > <i class="fa fa-fw fa-male"></i> Gender </b> 
                                   <p data-field="genderAsText" data-fieldholder="html"  data-fieldtype="string" > - </p>
                               </li>
                               <li>
                                   <b data-persona="key" class="editable_text" > <i class="fa fa-fw fa-user-circle-o"></i> Age </b> 
                                   <p data-field="age" data-fieldholder="html"  data-fieldtype="int"  > - </p> 
                               </li>
                               <li>
                                   <b data-persona="key" class="editable_text" > <i class="fa fa-fw fa-map-marker"></i> Living Location  </b> 
                                   <p data-field="livingLocation" data-fieldholder="html"  data-fieldtype="string"  >  - </p>
                               </li>
                               <li>
                                   <b data-persona="key" class="editable_text" > <i class="fa fa-fw fa-envelope"></i> Primary Email </b> 
                                   <p data-field="primaryEmail" data-fieldholder="html"  data-fieldtype="string"  >  - </p>
                               </li>
                               <li>
                                   <b data-persona="key" class="editable_text" >  <i class="fa fa-fw fa-mobile"></i> Primary Mobile Phone </b> 
                                   <p data-field="primaryPhone" data-fieldholder="html"  data-fieldtype="string"  > - </p>
                               </li>
                               <li>
                                   <b data-persona="key" class="editable_text" >  <i class="fa fa-fw fa-mobile"></i> Social Media Profiles </b> 
                                   <p data-field="socialMediaProfiles" data-fieldholder="html_hashmap"  data-fieldtype="hashmap"  > - </p>
                               </li>
                           </ol>
                       </td>
                   </tr>
               </table>
           </div>
           <!--  End Profile Key Information -->
       </div>
       
       <!--  Tab Navigation Items -->
       <ul class="nav nav-tabs" data-tab-content="profile_ext_data_tabs" >
          
          <li class="active"><a href="javascript:" data-target-tab="panel_profile_activitiy_flow" > <i class="fa fa-list-ol" aria-hidden="true"></i> Activity Flow </a></li>
          <li ><a href="javascript:" data-target-tab="panel_profile_journey_flow" style="display: none;" > <i class="fa fa-map-o" aria-hidden="true"></i> Journey Flow </a></li>
          
       	  <li ><a href="javascript:" data-target-tab="panel_profile_business_data" style="display: none;" > <i class="fa fa-briefcase" aria-hidden="true"></i> Business Data </a></li>
       	  <li ><a href="javascript:"data-target-tab="panel_business_transactions" style="display: none;" > <i class="fa fa-shopping-cart" aria-hidden="true"></i> Business Transactions</a></li>
		  <li ><a href="javascript:" data-target-tab="panel_profile_ext_attributes" style="display: none;" > <i class="fa fa-info-circle" aria-hidden="true"></i> Extended Attributes </a></li>
		 
	   </ul>

	   <!-- Tab Contents  -->
       <div class="tab-content" id="profile_ext_data_tabs" >

			<div class="tab-pane active" id="panel_profile_activitiy_flow" >
				<h4>Top 100 recent activities</h4>
	     		<ul id="profile_activitiy_flow" class="list-group list-group-dividered list-group-full">
	     			<!-- data  -->
				</ul>
			</div>
			
			<div class="tab-pane " id="panel_profile_journey_flow" >
		     	
		     	<div class="row">
		       	 	<div id="journeyFlowChart" class="experience_journey_flow" style="height:580px;"></div>
		       	</div>
		       	
		       	<div class="row" style="display: none;" >
		            <div class="col-md-6 bar-module">
		                <div id="venn_two" style=float:left>
		                    <h4 style="text-align: center">Media Touchpoints</h4>
		                </div>
		            </div>
		            <div class="col-md-6 ">
		                <div>
		                    <h4>Predictive Personality Traits(OCEAN Model) </h4>
		                </div>
		                <div class="pairs">
		                    <div id="chart_persornality">
		                    </div>
		                </div>
		            </div>
			     </div>   
			</div>
       
       		<div class="tab-pane " id="panel_profile_business_data" style="display: none;" >
	     		<ul class="list-group list-group-dividered list-group-full">
				   <li class="list-group-item">
			            <h4 class="media-heading">viewed </h4>
			            <div>Lorem ipsum Veniam aliquip culpa laboris minim tempor labore
			               commodo officia veniam non in in in.
			            </div>
				   </li>
				   <li class="list-group-item">
			            <h4 class="media-heading">viewed </h4>
			            <div>Lorem ipsum Veniam aliquip culpa laboris minim tempor labore
			               commodo officia veniam non in in in.
			            </div>
				   </li>
				   
				</ul>
			</div>
			
			<div class="tab-pane" id="panel_business_transactions" style="display: none;" >
		     	<h4>transactions</h4>
			</div>
			
			<div class="tab-pane" id="panel_profile_ext_attributes" style="display: none;" >
			      <h4>attributes</h4>
			</div>
		    
	   </div>
       
       
       <div class="row" style="display: none;" >
       		<div class="line" ></div>
            <h4 style="text-align:center;width: 100%;">Customer Attribution Matrix of Profile and Persona </h4>

            <div id="attribution_description"></div> <br>
			
			<div class="row" >
				<div class="col-md-3 "></div>
				<div class="col-md-3 ">
	            	<div class="user_profile_attrs"> &nbsp; &nbsp; &nbsp; &nbsp; </div> &nbsp; are attributes of Customer Profile 
	            </div>
	            <div class="col-md-3 ">
	            	<div class="persona_profile_attrs"> &nbsp; &nbsp; &nbsp; &nbsp; </div> &nbsp; are attributes of Customer Persona 
				</div>
				<div class="col-md-3 "></div>
			</div>
			
            <div id="profile_attribution" class="col-md-12 bar-module" style="text-align: center;"></div>
       </div>
      
       <div class="line"></div>

</div>

<script id='view-event-tpl' type="text/html" >
<li class="list-group-item" id="ev_<%- id %>">
   <div class="row">
      <div class="col-md-1 text-center"> <i class="fa fa-internet-explorer" aria-hidden="true" style="font-size:2em" ></i> <br> <b><%- metricName %></b> </div>
      <div class="col-md-11">
         <small class="text-muted pull-right"> <%- createdAt %> </small>
         <h5 class="media-heading"> <a target="_blank" href="<%- srcTouchpoint.url %>" > <%- srcTouchpoint.name %> </a> </h5>
         <div class="text-nowrap " >  
			 <span ><%- srcTouchpoint.truncatedUrl %></span> 
		 </div>
      </div>
   </div>
</li>
</script>

<script id='action-event-tpl' type="text/html" >
<li class="list-group-item" id="ev_<%- id %>" >
   <div class="row">
      <div class="col-md-1 text-center">  <i class="fa fa-sign-in" aria-hidden="true" style="font-size:2em" ></i> <br> <b><%- metricName %></b> </div>
      <div class="col-md-11">
         <small class="text-muted pull-right"> <%- createdAt %> </small>
         <h5 class="media-heading"> <a target="_blank" href="<%- srcTouchpoint.url %>" > <%- srcTouchpoint.name %> </a> </h5>
         <div class="text-nowrap " >  
			 <span ><%- srcTouchpoint.truncatedUrl %></span> 
		 </div>
      </div>
   </div>
</li>
</script>

<script id='conversion-event-tpl' type="text/html" >
<li class="list-group-item" id="ev_<%- id %>" >
   <div class="row">
      <div class="col-md-1 text-center">  <i class="fa fa-cart-plus" aria-hidden="true" style="font-size:2em" ></i> <br> <b><%- metricName %></b> </div>
      <div class="col-md-11">
         <small class="text-muted pull-right"> <%- createdAt %> </small>
         <h5 class="media-heading"> <a target="_blank" href="<%- srcTouchpoint.url %>" > <%- srcTouchpoint.name %> </a> </h5>
         <div class="text-nowrap " >  
			<span ><%- srcTouchpoint.truncatedUrl %></span> 
		 </div>
      </div>
   </div>
</li>
</script>

<script type="text/javascript">
    ///Js code
    
    function initProfile360Analytics(profileId) {
    	console.log(profileId);
    	//setup editable node
		setupTabPanels();
		loadCurrentProfile(profileId);
    }
    
    function editCurrentProfile(){
    	gotoLeoCdpRouter('Customer_Profile_Editor', LeoCdpAdmin.routerContext.objId );
    }
    
    function removeCurrentProfile(){
    	alert('TODO')
    }
    
    function loadCurrentProfile(profileId) {
         console.log('loadCurrentProfile profileId ' + profileId);

         var urlStr = '/cdp/profile/get';
         var params = {'id': profileId };
         
         LeoCdpAdmin.loadDataAndUpdateView(urlStr, params, function(){
        	 //console.log(LeoCdpAdmin.routerContext.dataObject);
        	 var profileData = LeoCdpAdmin.routerContext.dataObject;
        	 if(profileData.primaryAvatar != ''){
        		 $('#profile_avatar').attr('src',profileData.primaryAvatar);
        	 }
        	 
        	 //renderJourneyFlowChart();
        	 //loadProfileAttribution();
             //loadMediaTouchpoints();
             //personalityDiagram();
        	 
        	 LeoAdminApiUtil.getSecuredData('/cdp/profile/tracking-events',{id:profileId,startIndex:0,numberResult:100}, function(json){ 
        		 console.log(json.data) ;
        		 var node = $('#profile_activitiy_flow');
        		 _.forEach(json.data,function(e,i){
        			 e.srcTouchpoint.name = textTruncate(e.srcTouchpoint.name,120);
        			 e.srcTouchpoint.truncatedUrl = textTruncate(e.srcTouchpoint.url,120);
        			 
        			 var tplName = 'view-event-tpl';
            		 if(e.metricName === 'click'){
            			 tplName = 'action-event-tpl';
            		 }
            		 eventTpl = _.template($('#'+tplName).html());
        			 var html = eventTpl(e);
        			 node.append(html);
       			});
        	 });
        	 
         })
    }
</script>
