
<img src="" />

<div class="adsplay-placement" data-aplpm="115"  ></div>
<script type="text/javascript" async>
    (function() {
    var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
    s.src = (document.location.protocol == "https:" ? "https://" : "http://") + "st.adsplay.net/js/adsplay-display-ad.min.js";
    el.parentNode.insertBefore(s, el);
    })();
</script>

<script>
        console.log("a");
</script

<br>

<!--
<div class="adsplay-placement" data-aplpm="213" ></div>
<script src="/js/adsplay-display-ad.js"></script>
-->
