<link href="stylesheets/mobile-masthead.css" media="all" rel="stylesheet" />

<center>
	<!-- Save for Web Slices (Untitled-3) -->
	<table id="Table_01" width="360" height="640" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="3">
				<img src="mobile-masthead-images/template_01.png" width="360" height="104" alt=""></td>
		</tr>
		<tr>
			<td rowspan="2">
				<img src="mobile-masthead-images/template_02.png" width="8" height="536" alt=""></td>
			<td>

				<ol class="_mfb _mog" style="padding:10px">
					<li class="_mib" data-index="0">
						<div class="adsplay-placement" data-aplpm="314" ></div>

				<script src="/js/adsplay-display-ad.js"></script>
							</li>
						</ul>
					</li>
				</ol>

			</td>
			<td rowspan="2">
				<img src="mobile-masthead-images/template_04.png" width="8" height="536" alt=""></td>
		</tr>
		<tr>
			<td>
				<img src="mobile-masthead-images/template_05.png" width="344" height="398" alt=""></td>
		</tr>
	</table>
	<!-- End Save for Web Slices -->
	<br>
	<a href="https://docs.google.com/document/d/1paB2VPmbD3LVDeZHglcBQn_fc4Jkc7ehHLokgnXt_E0/edit?usp=sharing" class="qtm-button raised-button paper-shadow-bottom-z-1"
	 target="_blank">MOBILE VIDEO MASTHEAD<span class="qtm-button-ripple" style="height: 112px; width: 112px;"></span></a>
	<p class="j-web-info">Want to know more? Click above to get the full format requirements, details and specifications!</p>
</center>