<div style="width:1024px;height:832px;margin:0px auto;background:url('http://commondatastorage.googleapis.com/dfavpaid/IMAPlayer2_files/background3.jpg')">

	<!-- Change the px settings here to move the video player in relation to the background image -->
	<div id="flashContent" style="position:absolute;margin-left:58px;margin-top:238px;">
		<!-- Change the width of the player = width of the creative, and height = the creative + 60 pixels to give room for the player controls.  So for a 640x360 creative, player is 640x420. -->


	</div>

</div>