<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Ping Current Time 
            	<button type="button" class="btn btn-default pull-right" id="ping-btn">Ping</button>
            	<div class="clearfix"></div>
            </div>
            <div class="panel-body" id="ping-result">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
        	<div class="panel-heading">
        		Average API Response Time (ms)
        		<span>
        			Past 24 hours
        		</span>
        	</div>
            <div class="panel-body">
              <svg id="chart-1"></svg>
              <div class="loader"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
        	<div class="panel-heading">
        		Average API Error Rate (%)
        		<span>
        			Past 24 hours
        		</span>
        	</div>
            <div class="panel-body">
              <svg id="chart-2"></svg>
              <div class="loader"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="history-title">Recent History All Api (30 day)</div>
            <div class="panel-body">
              <div id="chart-history"></div>
            </div>
        </div>
    </div>
</div>

<script src="js/custom.js"></script>
<script type="text/javascript">
$('#ping-btn').click(function(){
	$.ajax({
		type: 'GET',
		url: 'api/current',
		beforeSend: function(){
			$('#ping-result').html('<div class="loader"></div>');
		},
		success: function(data) {
			$('#ping-result').empty();
			for (var i = 0; i < data.fields.length; i++) {
				var name = data.fields[i].api.replace('http://','');
				name = name.replace('.adsplay.net/ping','');
				if (data.fields[i].status == 1) {
					$('#ping-result').append('<div class="col-1of8">'+
							'<span class="icon-center icon-green">'+
							'<i class="glyphicon glyphicon-ok"></i>'+
							'</span>'+
							'<span class="text-center">'+
								name+
							'</span>'+
							'<span class="text-center text-size-12">'+
								data.fields[i].responseTime +'ms'+
							'</span>'+
					'</div>');
				}
				else{
					$('#ping-result').append('<div class="col-1of8">'+
							'<span class="icon-center icon-red">'+
							'<i class="glyphicon glyphicon-remove"></i>'+
							'</span>'+
							'<span class="text-center">'+
								name+
							'</span>'+
							'<span class="text-center text-size-12">'+
								data.fields[i].responseTime +'ms'+
							'</span>'+
					'</div>');
				}
			}
		}
	});
});
</script>

<script type="text/javascript">
// chart average api error and average api response time
function defaultChartConfig(containerId, data) {
    nv.addGraph(function() {

        var chart = nv.models.sparklinePlus();
        chart.margin({left:70})
            .x(function(d,i) { return i })
            .showLastValue(true)
            .xTickFormat(function(d) {
                return d3.time.format('%x %X')(new Date(data[d].x))
            });

        d3.select(containerId)
                .datum(data)
                .call(chart);

        return chart;
    });
}

function averageApiError(element, data){
	var arrChart = [];
	for (var i = data.length - 1; i >= 0 ; i--) {
		var fields = data[i].fields;
		var ratingError = 0;
		var countStatus = 0;

		for (var j = 0; j < fields.length; j++) {
			if (fields[j].status == 0) {
				countStatus++;// count api error
			}
		}

		var ratioError = countStatus / fields.length;
		arrChart.push({x: data[i].time , y: ratioError });
	}
	defaultChartConfig(element, arrChart);
}

function averageApiResponseTime(element, data){
	var arrChart = [];
	for (var i = data.length - 1; i >= 0 ; i--) {
		var fields = data[i].fields;
		var responseTimeSum = 0;
		var countStatus = 0;

		for (var j = 0; j < fields.length; j++) {
			if (fields[j].status == 1) {
				countStatus++; // count api success 
				responseTimeSum = responseTimeSum + fields[j].responseTime;
			}
		}

		var averageTime = responseTimeSum/countStatus;
		arrChart.push({x: data[i].time , y: averageTime });
		
	}
	defaultChartConfig(element, arrChart);
}

function showChart(){
	$.ajax({
		type: 'GET',
		url: 'api/all',
		success: function(data) {
			var chart_1 = '#chart-1';
			var chart_2 = '#chart-2';
			$(chart_1).next('.loader').remove();
			$(chart_2).next('.loader').remove();

			averageApiResponseTime(chart_1,data);
			averageApiError(chart_2,data);
		}
	});
}

showChart();

</script>


<script type="text/javascript">
// chart history
$.ajax({
	type: 'GET',
	url: 'api/history',
	success: function(data) {
		
		var filterApiError = function(){
			//filter array api status error
			var apiError = [];
			var apiSuccess = [];
			for (var i = data.length-1; i >= 0; i--) {
				var fields = data[i].fields;

				var d = new Date(data[i].time);
				var n = d.toLocaleDateString();

				for (var j = 0; j < fields.length; j++) {
					if (fields[j].status == 0) {
						apiError.push({time: n , api: fields[j].api });
					}
					else{
						apiSuccess.push({time: n , api: fields[j].api });
					}
				}
				
			}

			//group by date
			var groupError = groupBy(apiError, function(item)
			{
				return [item.time];
			});

			var groupSuccess = groupBy(apiSuccess, function(item)
			{
				return [item.time];
			});

			//get array api time error
			var resultSuccess = uniqueArray(groupSuccess);
			var resultError = uniqueArray(groupError);

			//html render chart api
			for (var i = 0; i < resultSuccess.length; i++) {
				var count = i+1;
				$('#chart-history').append('<div class="history" data-toggle="popover" data-time="'+resultSuccess[i].time+'" title="API Success ('+resultSuccess[i].time+')" data-content="'+resultSuccess[i].api.join(' ')+'"><span>'+count+'</span></div>');
			}
			
			$(".history").each(function(index) {

				for (var i = 0; i < resultError.length; i++) {
					if($(this).attr('data-time') == resultError[i].time){
						$(this).addClass('error');
						$(this).attr('title','API Error ('+resultError[i].time+')');
						$(this).attr('data-content',resultError[i].api.join(' '));
					}
				}
				
			});
		}
		
		function uniqueArray(arr){
			//get array api time error
			var result = [];
			for(var i = 0; i < arr.length; i++) {

				var time = arr[i][0].time;
				var apiArray = [];

				for(var j = 0; j < arr[i].length; j++) {
					apiArray.push(arr[i][j].api);
				}
				var apiUnique = unique(apiArray);

				result.push({time: time, api: apiUnique});
				
			}
			return result;
		}

		filterApiError();

		$('[data-toggle="popover"]').popover({
			placement:"top",
			trigger: "hover"
		});
	}
});
</script>