<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				API D1 Response Time (ms)
				<span>Past 24 hours</span>
			</div>
			<div class="panel-body">
				<svg id="chart-1"></svg>
				<div class="loader"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				API D2 Response Time (ms)
				<span>Past 24 hours</span>
			</div>
			<div class="panel-body">
				<svg id="chart-2"></svg>
				<div class="loader"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				API D3 Response Time (ms)
				<span>Past 24 hours</span>
			</div>
			<div class="panel-body">
				<svg id="chart-3"></svg>
				<div class="loader"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				API D4 Response Time (ms)
				<span>Past 24 hours</span>
			</div>
			<div class="panel-body">
				<svg id="chart-4"></svg>
				<div class="loader"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				API D5 Response Time (ms)
				<span>Past 24 hours</span>
			</div>
			<div class="panel-body">
				<svg id="chart-5"></svg>
				<div class="loader"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				API D6 Response Time (ms)
				<span>Past 24 hours</span>
			</div>
			<div class="panel-body">
				<svg id="chart-6"></svg>
				<div class="loader"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				API Monitor Response Time (ms)
				<span>Past 24 hours</span>
			</div>
			<div class="panel-body">
				<svg id="chart-7"></svg>
				<div class="loader"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				API Monitor Response Time (ms)
				<span>Past 24 hours</span>
			</div>
			<div class="panel-body">
				<svg id="chart-8"></svg>
				<div class="loader"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	function defaultChartConfig(containerId, data) {
		nv.addGraph(function () {

			var chart = nv.models.sparklinePlus();
			chart.margin({ left: 70 })
				.x(function (d, i) { return i })
				.showLastValue(true)
				.xTickFormat(function (d) {
					return d3.time.format('%x %X')(new Date(data[d].x))
				});

			d3.select(containerId)
				.datum(data)
				.call(chart);

			return chart;
		});
	}

	function chartApi(api, element, data) {
		var arrChart = [];
		for (var i = data.length - 1; i >= 0; i--) {
			var fields = data[i].fields;
			var responseTime = 0;

			for (var j = 0; j < fields.length; j++) {
				if (fields[j].api == api) {
					responseTime = fields[j].responseTime;
				}
			}

			arrChart.push({ x: data[i].time, y: responseTime });

		}
		defaultChartConfig(element, arrChart);
	}

	function showDetailChart() {
		$.ajax({
			type: 'GET',
			url: 'api/all',
			success: function (data) {
				var chart_1 = '#chart-1';
				$(chart_1).next('.loader').remove();
				chartApi("http://d1.blueseed.tv/ping", chart_1, data);

				var chart_2 = '#chart-2';
				$(chart_2).next('.loader').remove();
				chartApi("http://d2.blueseed.tv/ping", chart_2, data);

				var chart_3 = '#chart-3';
				$(chart_3).next('.loader').remove();
				chartApi("http://d3.blueseed.tv/ping", chart_3, data);

				var chart_4 = '#chart-4';
				$(chart_4).next('.loader').remove();
				chartApi("http://d4.blueseed.tv/ping", chart_4, data);

				var chart_5 = '#chart-5';
				$(chart_5).next('.loader').remove();
				chartApi("http://d5.blueseed.tv/ping", chart_5, data);

				var chart_6 = '#chart-6';
				$(chart_6).next('.loader').remove();
				chartApi("https://admin.hadarone.com/ping", chart_6, data);

				var chart_7 = '#chart-7';
				$(chart_7).next('.loader').remove();
				chartApi("https://apiv2.hadarone.com/ping", chart_7, data);

				var chart_8 = '#chart-8';
				$(chart_8).next('.loader').remove();
				chartApi("https://api.hadarone.com/ping", chart_8, data);

			}
		});
	}

	showDetailChart();

</script>