<!DOCTYPE html>
<html lang="vn">

<head>
    {{>head}}
</head>

<body>

<div id="wrapper">

    {{>navigation}}

    <div id="page-wrapper">
        <div class="container">

            <!-- MAIN BODY here -->
            {{{body}}}

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>
<script type="text/javascript">
    $(window).load(function() {
        var page = location.pathname.split('/').pop();
        $('#navbar li a[href="/' + page + '"]').addClass('active');
    });
</script>
</html>
