<div class="block-area">
<h3 class="block-title">FLOT CHART</h3>

<historical-bar-chart ng-title="Historical Bar Chart"></historical-bar-chart>

<div class="tile">
    <h2 class="tile-title">Dynamic Chart</h2>
    <div class="tile-config dropdown">
        <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="Options"></a>
        <ul class="dropdown-menu pull-right text-right">
            <li><a href="">Refresh</a></li>
            <li><a href="">Settings</a></li>
        </ul>
    </div>
    <div class="p-10">
        <div id="dynamic-chart" class="main-chart" style="height: 250px"></div>
    </div>
</div>

<div class="tile">
    <h2 class="tile-title">Bar Chart</h2>
    <div class="tile-config dropdown">
        <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="Options"></a>
        <ul class="dropdown-menu pull-right text-right">
            <li><a href="">Refresh</a></li>
            <li><a href="">Settings</a></li>
        </ul>
    </div>
    <div class="p-10">
        <div id="bar-chart" class="main-chart" style="height: 250px"></div>
    </div>
</div>


<!-- Pies -->
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h2 class="tile-title">Pie Chart</h2>
            <div class="tile-config dropdown">
                <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="Options"></a>
                <ul class="dropdown-menu pull-right text-right">
                    <li><a href="">Refresh</a></li>
                    <li><a href="">Settings</a></li>
                </ul>
            </div>
            <div class="p-10">
                <div id="pie-chart" class="main-chart" style="height: 300px"></div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="tile">
            <h2 class="tile-title">Donut Chart</h2>
            <div class="tile-config dropdown">
                <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="Options"></a>
                <ul class="dropdown-menu pull-right text-right">
                    <li><a href="">Refresh</a></li>
                    <li><a href="">Settings</a></li>
                </ul>
            </div>
            <div class="p-10">
                <div id="donut-chart" class="main-chart" style="height: 300px"></div>
            </div>
        </div>
    </div>
</div>
</div>

<hr class="whiter m-t-20 m-b-20" />
