<style type="text/css">
    .chart-div svg {
        height: 420px;
        background-color: #D8D8D8 !important;
    }
    #cAdsPerPv {
        font-weight: bolder;
    }
</style>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Ad-Inventory report in last <span id="recent_days"></span> days
        </h1>
    </div>
</div>

<div class="row" id="dSummaryStats">

    <div id="dAdsPerPv" class="col-lg-3 col-md-6" style="display: none">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-11 text-right">
                        <div class="huge" id="cAdsPerPv" >0</div>
                        <div>% Used Ad-Inventory</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dPageviewTotal" class="col-lg-3 col-md-6" style="display: none">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="cPageviewTotal">0</div>
                        <div >PlayView</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dImpressionTotal" class="col-lg-3 col-md-6" style="display: none">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="cImpressionTotal"> 0</div>
                        <div>Impression</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dUser" class="col-lg-3 col-md-6" style="display: none">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="cUser">13</div>
                        <div>User</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>
                    FptPlay Inventory by Device Type, from
                    <span id='fptplay_begin'></span> to <span id='fptplay_end'></span> </h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive inventory">

                    <div id="fptplay_inventory" class="chart-div">
                        <svg></svg>
                    </div>

                    <table class="table table-condensed" id="tbl">
                        <thead>
                        <tr>
                            <th>Platform (FPT Play)</th>
                            <th>PlayView</th>
                        </tr>
                        </thead>
                        <!--<tbody>-->
                        <!--<tr>-->
                        <!--<td>Web version</td>-->
                        <!--<td>1,000,000</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>Mobile App</td>-->
                        <!--<td>1,000,000</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>SmartTV (Sony only)</td>-->
                        <!--<td>1,000,000</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display: none">
    <div class="panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-4">

                </div>
                <div class="col-xs-8 text-right" style="padding: 3px 0px; ">
                    <label for="from">From date:</label>
                    <input type="text" id="from" name="from">

                    <label for="to">to date:</label>
                    <input type="text" id="to" name="to">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="chartImpVsPv" class="chart-div">
    <svg></svg>
</div>

<hr>

<div class="row" style="display: none">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Total Inventory & Booking by Publisher from 17-03-2016 to 18-03-2016</h3>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Publisher</th>
                            <th>PlayView</th>
                            <th>Booked Impression</th>
                            <th>Used Impression</th>
                            <th>Booked Ad-Inventory Rate</th>
                            <th>Used Ad-Inventory Rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <td>Play TV</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>65%</td>
                            <td>65%</td>
                        </tr>
                        <tr>
                            <td>FShare</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>65%</td>
                            <td>65%</td>
                        </tr>
                        <tr>
                            <td>Nhacso</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>65%</td>
                            <td>65%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" style="display: none">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Daily Inventory & Booking</h3>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Publisher</th>
                            <th>PlayView</th>
                            <th>Booked Impression</th>
                            <th>Used Impression</th>
                            <th>Booked Ad-Inventory Rate</th>
                            <th>Used Ad-Inventory Rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="3">17-03-2016</td>
                            <td>Play TV</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>65%</td>
                            <td>65%</td>
                        </tr>
                        <tr>

                            <td>FShare</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>65%</td>
                            <td>65%</td>
                        </tr>
                        <tr>

                            <td>Nhacso</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>65%</td>
                            <td>65%</td>
                        </tr>

                        <tr>
                            <td rowspan="3">18-03-2016</td>
                            <td>Play TV</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>65%</td>
                            <td>65%</td>
                        </tr>
                        <tr>

                            <td>FShare</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>65%</td>
                            <td>65%</td>
                        </tr>
                        <tr>

                            <td>Nhacso</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>1,000,000</td>
                            <td>65%</td>
                            <td>65%</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="application/javascript">

    function makeGraphImpressionVsPageview() {
        d3.json("{{buildUrl '/monitor/summary/chartImpVsPv'}}", function (error, data) {
            var dayCount = Math.round(((new  Date().getHours()) + data[0].values.length) / 24);
            $('#recent_days').html(dayCount);

            nv.addGraph(function () {
                var chart = makeLinePlusBarChart('chartImpVsPv', data);
                $('#cPageviewTotal').html(formatNumber(data[0]['total']));
                $('#cImpressionTotal').html(formatNumber(data[1]['total']));
                var cAdsPerPv = (((data[1]['total'] * 100) / (data[0]['total'])).toFixed(2));
                $('#cAdsPerPv').html(cAdsPerPv).show();

                $('#dSummaryStats > div').hide();

                $('#chartImpVsPv').show();

                $('#dPageviewTotal').show();
                $('#dImpressionTotal').show();
                $('#dAdsPerPv').show();
                return chart;
            });
        });
    }
    jQuery(document).ready(function(){
        makeGraphImpressionVsPageview();
    });
   
    ///////////////////////////////////////////////////////////////

    var dayGoBack = 1;
    $(function () {
        var d = new Date();
        d.setDate(d.getDate() - dayGoBack);
        $("#from").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        }).datepicker("setDate", d);

        $("#to").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        }).datepicker("setDate", new Date());

        $('#graphType').on('change', function () {
            //alert( this.value ); // or $(this).val()
            window.location = '//' + location.host + '/?graphName=' + this.value;
        }).val('{{graphName}}');

    });
    // $("#to").datepicker('getDate').yyyymmdd()

    //platforms
    var platformPlayView = [];
    var end = new moment().format("YYYY-MM-DD");
    var begin = new moment().subtract(15, 'days').format("YYYY-MM-DD");
    var api = "{{site.ssl_api_domain}}/api/platform/stats?begin="+begin+"&end="+end;
    d3.json(api, function (error, data) {

        var platforms = {{{json platforms}}};
        if (data.length > 0) {
            for(var i = 0; i < data.length;i++){
                var pv = {};
                pv.label = platforms[data[i].pfId];
                pv.value = data[i].totalPv;
                platformPlayView.push(pv);
            }

            console.log('platformPlayView');
            console.log(platformPlayView);

            nv.addGraph(function() {
                var chart = nv.models.pieChart()
                                .x(function(d) { return d.label })
                                .y(function(d) { return d.value })
                                .showLabels(true)
                                .labelThreshold(.05)
                                .labelType("percent")
                                .donut(true)
                                .donutRatio(0.35)
                        ;

                d3.select("#fptplay_inventory svg")
                        .datum(platformPlayView)
                        .transition().duration(350)
                        .call(chart);

                return chart;
            });
            $('#fptplay_inventory').show();
            $('#fptplay_begin').html(begin);
            $('#fptplay_end').html(end);

            var tr;
            for (var i = 0; i < platformPlayView.length; i++) {
                tr = $('<tr/>');
                tr.append("<td>" + platformPlayView[i].label + "</td>");
                tr.append("<td>" + formatNumber(platformPlayView[i].value) + "</td>");
                $('table#tbl').append(tr);
            }

        }else{
            console.log("Data empty");
        }
    });


</script>

