
<div class="panel panel-default">
	<div class="panel-heading">Filter Query</div>
	<div class="panel-body">
		<div class="col-md-4 col-xs-12">
			<div class="form-group">
	            <div class="input-group date" id="begin">
	                <input type='text' class="form-control" autocomplete="off"/>
	                <span class="input-group-addon">
	                    <span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>
	        </div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="form-group">
	            <div class="input-group date" id="end">
	                <input type='text' class="form-control" autocomplete="off"/>
	                <span class="input-group-addon">
	                    <span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>
	        </div>
		</div>

		<div class="col-md-12 text-left">
			<button type="button" class="btn btn-default">OK</button>
		</div>
	</div>
</div>
	

<div class="row">
	<div class="col-md-4 col-xs-12">
	    <div class="panel panel-success">
	        <div class="panel-heading">
	            <div class="text-right">
	                <div class="huge">45,295,601</div>
	                <div class="total-view-text">Play View</div>
	            </div>
	        </div>
	    </div>
	</div>
    <div class="col-md-4 col-xs-12">
	    <div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="text-right">
	                <div class="huge">45,295,601</div>
	                <div class="total-view-text">Impression</div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="col-md-4 col-xs-12">
	    <div class="panel panel-warning">
	        <div class="panel-heading">
	            <div class="text-right">
	                <div class="huge">45,295,601</div>
	                <div class="total-view-text">Complete View</div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

<div class="row">

  <div class="col-md-12">
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default active" data-target="#piechart">Left</button>
		<button type="button" class="btn btn-default" data-target="#linechart">Middle</button>
	</div>

	<div id="piechart"><svg></svg></div>
	<div id="linechart"><svg></svg></div>
	<div id="stackedchart"><svg></svg></div>

  </div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">Details</div>
	<div class="panel-body">
		<table id="table-details" class="table table-hover table-striped">
			<tbody></tbody>
		</table>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
<style type="text/css">
	#piechart,#linechart,#stackedchart{
		display: block;
		height: 400px;
		width: 100%;
	}

</style>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	var data = [
		{"t":1466269200000, "reach": 1,"imp":67,"playview":26,"completeview":22,"c":0,"ctr":3,"audience":10000, "platformsId": 1},
		{"t":1466355600000,"reach": 3,"imp":913,"playview":779,"completeview":400,"c":358,"ctr":2,"audience":10000, "platformsId": 4},
		{"t":1466442000000,"reach": 1,"imp":884,"playview":607,"completeview":600,"c":464,"ctr":3,"audience":10000, "platformsId": 2},
		{"t":1466528400000,"reach": 2,"imp":996,"playview":855,"completeview":700,"c":599,"ctr":4,"audience":5000, "platformsId": 3},
		{"t":1466614800000,"reach": 1,"imp":706,"playview":693,"completeview":500,"c":37,"ctr":5,"audience":15000, "platformsId": 1},
		{"t":1466701200000,"reach": 3,"imp":606,"playview":566,"completeview":500,"c":16,"ctr":1,"audience":14000, "platformsId": 2},
		{"t":1466787600000,"reach": 3,"imp":878,"playview":608,"completeview":400,"c":55,"ctr":2,"audience":13000, "platformsId": 3},
		{"t":1466874000000,"reach": 2,"imp":540,"playview":400,"completeview":352,"c":10,"ctr":3,"audience":20000, "platformsId": 5},
		{"t":1466960400000,"reach": 1,"imp":230,"playview":200,"completeview":122,"c":20,"ctr":4,"audience":10000, "platformsId": 6}
	];
$(document).ready(function(){

	var end = new moment().format("YYYY-MM-DD");
    var begin = new moment().subtract(30, 'days').format("YYYY-MM-DD");

    var formatTime = function (x) {
        return new moment(x).format("YYYY-MM-DD");
    };

    $('#begin').datetimepicker({
        format: 'YYYY-MM-DD',
        defaultDate: begin
    });
    $('#end').datetimepicker({
        useCurrent: false, //Important! See issue #1075
        format: 'YYYY-MM-DD',
        defaultDate: end
    });
    $("#begin").on("dp.change", function (e) {
        $('#end').data("DateTimePicker").minDate(e.date);
    });
    $("#end").on("dp.change", function (e) {
        $('#begin').data("DateTimePicker").maxDate(e.date);
    });

	render();

	function render(){
		// var obj_date = filter_date();

		// var obj_fields = filter_fields();

		// var obj_join = $.extend(obj_date, obj_fields);

		// $.ajax({
		// 	url: '',
		// 	type: "GET",
		// 	contentType: "application/json",
		// 	dataType:'json',
		// 	data: JSON.stringify(obj_join),
		// 	success: function(data){
		// 		render_char(data);
		// 		table_data(data);
		// 	}
		// });

		render_chart(data);
		table_data(data);

	}

	function filter_date(){

		return {begin: begin, end: end};
	}

	function filter_fields(){
		
		return {playview: playview, placement: placement, completeview: completeview};
	}

	function render_chart(data){

		var pie_data = sum_fields(data, 
			[
				{key: 'Play-View', sum: 'playview'},
				{key: 'Impression', sum: 'imp'},
				{key: 'Complete-View', sum: 'completeview'}
			]
		);

		var line_data = arr_by_field(data, 
			[
				{key: 'Play-View', field: 'playview'},
				{key: 'Impression', field: 'imp'},
				{key: 'Complete-View', field: 'completeview'}
			]
		);

		var line_data = stacked = arr_by_field(data, 
			[
				{key: 'Play-View', field: 'playview'},
				{key: 'Impression', field: 'imp'},
				{key: 'Complete-View', field: 'completeview'}
			]
		);

		pie_chart(pie_data);

		line_chart(line_data);

		stacked_chart(stacked);

	}

	function pie_chart(data){

	    nv.addGraph(function() {
			var chart = nv.models.pieChart()
			.x(function(d) { return d.key })
			.y(function(d) { return d.sum })
			.showLabels(false)
			.showLegend(true)
			.showLabels(true)
			.labelThreshold(.03)
			.labelType("percent");

			d3.select("#piechart svg")
			.datum(data)
			.transition().duration(350)
			.call(chart);

			return chart;
		});
	}

	function line_chart(data){

		nv.addGraph(function() {
	        chart = nv.models.lineChart()
	            .options({
	                duration: 300,
	                useInteractiveGuideline: true
	            })
	        ;
	        chart.xAxis
	            .axisLabel("Time (s)")
	            .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) })
	            .staggerLabels(true);

	        chart.yAxis
	            .axisLabel('Voltage (v)')
	            .tickFormat(function(d) {
	                if (d == null) {
	                    return 'N/A';
	                }
	                return d3.format(',.0f')(d);
	            })
	        ;

	        d3.select('#linechart svg')
	            .datum(data)
	            .call(chart);

	        nv.utils.windowResize(chart.update);

	        return chart;
	    });
	}

	function stacked_chart(data){
		nv.addGraph(function() {
		var chart = nv.models.multiBarHorizontalChart()
		    .x(function(d) { return d.x })
		    .y(function(d) { return d.y })
		    .margin({top: 30, right: 20, bottom: 50, left: 175})
		    // .showValues(true)
		    .tooltips(true)
		    .transitionDuration(350)
		    .showControls(true);

		chart.xAxis
		    .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });
		chart.yAxis
		    .tickFormat(d3.format(',.0f'));

		d3.select('#stackedchart svg')
		    .datum(data)
		    .call(chart);

		nv.utils.windowResize(chart.update);

		return chart;
		});
	}

	function table_data(data){
		$table = $('#table-details');
		for (var i in data) {
			var tr = '<tr> \
			<td>'+data[i].t+'</td> \
			<td>'+data[i].reach+'</td> \
			<td>'+data[i].imp+'</td> \
			<td>'+data[i].playview+'</td> \
			<td>'+data[i].completeview+'</td> \
			<td>'+data[i].c+'</td> \
			<td>'+data[i].ctr+'</td> \
			</tr>'
			$table.find('tbody').append(tr)
		}
		$('#table-details').DataTable({
			columns: [
	            { title: "Date" },
	            { title: "Impression" },
	            { title: "Play-View" },
	            { title: "Complete-View" },
	            { title: "Unique Impression" },
	            { title: "Clicks" },
	            { title: "CTR" }
	        ]
		});
	}

	function sum_fields(arr_data, arr_sum){
		var result = [];
		for(var i in arr_sum){
			var count = 0;
			for(var j in arr_data){
				count += arr_data[j][arr_sum[i].sum];
			}
			result.push({key: arr_sum[i].key, sum: count});
		}
		return result;
	}

	function arr_by_field(arr_data, arr_group){
		var result = [];
		for(var i in arr_group){
			var group = [];
			for(var j in arr_data){
				group.push({x: arr_data[j].t, y: arr_data[j][arr_group[i].field]});
			}
			result.push({key: arr_group[i].key, values: group});
		}
		return result;
	}

});
	
</script>